body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #2c3e50;
    color: rgb(143, 246, 236);
    text-align: center;
    padding: 40px 20px;
    position: relative;
}

.name-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.name-logo img {
    width: 50px; 
    height: auto;
    margin-right: 10px;
    border-radius: 50%; 
    transition: transform 0.3s ease;
}

.name-logo img:hover {
    transform: scale(1.2); 
}

.name-logo h1 {
    margin: 0;
    font-size: 24px; 
    font-weight: bold;
}

nav {
    position: absolute;
    top: 10px;
    right: 20px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: rgb(237, 231, 51);
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

a:hover {
    color: #ecf0f1;
}

.about-section,
.projects-section,
.skills-section,
.resume-section,
.contact-section {
    text-align: center;
    margin-bottom: 40px;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.about-section img,
.project img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.about-section img:hover,
.project img:hover {
    transform: scale(1.1); 
}

.skills-section {
    background-color: #ce8feb; /* Bg color for skills section */
}

.skills-section .skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-section .skill {
    background-color: #27ae60;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 8px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1px;
}

.resume-section {
    background-color: #cceb8f; /* Bg color for resume section */
}

.resume-section .resume-link {
    display: inline-block;
    background-color: #c0392b;
    color: rgb(126, 250, 242);
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.resume-section .resume-link:hover {
    background-color: #f8ed74;
}

.contact-section {
    background-color: #eb8f97; /* Bg color for contact section */
}

.contact-section h2 {
    color: #000a08;
}

.contact-info {
    margin-top: 20px;
}

footer {
    background-color: #8fbdeb;
    color: rgb(252, 248, 44);
    text-align: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
    color: #2c3e50;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #3498db;
}

.project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

.project.right-aligned {
    flex-direction: row-reverse;
}

.project-description {
    max-width: 60%;
}

.project img {
    max-width: 35%;
}

.project-description h3 {
    font-weight: bold;
    font-size: 18px; 
    margin-bottom: 10px;
}

.about-section img {
    max-width: 50%;
    border-radius: 12px;
    margin: 0 auto 20px;
    display: block;

}